
.container {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 2fr 6fr 4fr;
    grid-gap: 2rem 1rem;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
        "logo menu menu"
        "content content sidebar"
        "sponsors sponsors sponsors"
        "footer footer footer";


}